{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h5 align="left">You've been added to a chat with Daniel. <br>
  Daniel has some mental health issues and has reached out to speak to you today.<br>
  Daniel is NOT REAL but please practice self care as conversations can still be quite confronting.
</h5>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <!-- <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button> -->
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <input name="note" id="note" autofocus class="form-control"></input>
  <div align="right">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
{% endblock %}
